@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&display=swap");

html {
  line-height: 1.15;
  font-family: Rubik !important;
  font-size: 1em !important;
}

body {
  margin: 0;
  background-color: #1c1c1c;
  color: #edededff;
}

main {
  display: block;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
}


